<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
	     	<customErrors mode="On" defaultRedirect="custom404page.aspx" redirectMode="ResponseRewrite">
	     		<error statusCode="404" redirect="custom404page.aspx" />
			<error statusCode="500" redirect="custom404page.aspx" />
		</customErrors>
	</system.web>
			 <system.webServer>
        <!-- <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1" enabled="true" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
						<add input="{HTTP_HOST}" pattern="^prodwip\.mobil\.com$" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^prodstg\.mobil\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://lubes.mobil.com/uk-english-lcw/{ToLower:{R:1}}" redirectType="Found"/>
                </rule>
            </rules>
        </rewrite>-->
    </system.webServer>
</configuration>
