<!-- ========================================================================================================================
		Created: WCM Team
			various undocumented updates
		Updated: December 10, 2013 - BDE (WCM) - WO0000001593584
			Added assemblies block for new Captcha controls.
			Added tag section name="infragistics.web".
		Update: April 18, 2014 -NRH -  CRQ000000164973 - Implement Enforce Lower case
		Update: January 8, 2015 - NML - CRQ000000234167
			Added tags for Mobil1 Russia Contact us Form
		Updated: October 30, 2015 - NPT (Pen Test Remediation 2015 - CRQ000000325183)
			Add custom header to add X-Content-Type: nosniff, remove Server version info
	  =========================================================================================================================
-->
<configuration>
	<configSections>
		<sectionGroup name="Navigation">
			<section name="General" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
			<section name="FolderMap" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
		</sectionGroup>
		<!-- *** Products & Services area start *** -->
		<section name="database" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="WebServices" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="quizzes" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="services" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="keyword_search" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<!-- *** Products & Services area end *** -->
	   <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />		
      		<!-- For SiteCoreRedirects.dll - start *********************************************************** -->
		<sectionGroup name="sitecoreredirects">
		        <section name="commonconfig" type="System.Configuration.NameValueSectionHandler,System,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
        		<section name="usa-english-lcw" type="System.Configuration.NameValueSectionHandler,System,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
      		</sectionGroup>
      		<!-- For SiteCoreRedirects.dll - end ************************************************************* -->   
	</configSections>
    	<!-- For SiteCoreRedirects.dll - start *********************************************************** -->
	<sitecoreredirects>
		<commonconfig>
			<add key="fileExtensions" value="aspx,pdf"/>
			<add key="convertnonwwwurlstowww"  value="yes"/>
			<add key="staticFileTypes" value=""/>
			<add key="sites" value="usa-english-lcw"/>
      		</commonconfig>
      		<usa-english-lcw>
			<!-- Use seperate config file for each extension if many entries, otherwise use same config file for multiple file extensions -->
			<!-- cached file name = site name-config file name for e.g. usa-english-lcw-redirectaspx.config -->
			<add key="aspx" value="/usa-english-lcw/redirectaspx.xml"/>
			<add key="html" value=""/>
			<add key="pdf" value="/usa-english-lcw/redirectaspx.xml"/>
			<add key="xml" value=""/>
			<add key="xls" value=""/>
			<!-- This is the default URL to redirect, if no matching route found -->
			<add key="defaultRedirectURL" value="http://mobiloil.com/en"/>
		</usa-english-lcw>
	</sitecoreredirects>
	<!-- For SiteCoreRedirects.dll - end ************************************************************* -->
	
	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="c#" debug="false"> <!-- New assemblies block below to support Captcha control. -->
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
		<customErrors mode="On" defaultRedirect="/imports/404/errorpage.aspx" redirectMode="ResponseRewrite">
			<error statusCode="404" redirect="/imports/404/errorpage.aspx"/>
			<error statusCode="500" redirect="/imports/404/errorpage.aspx"/>
		</customErrors>
		<httpCookies httpOnlyCookies="true"/>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<authentication mode="Windows"/>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<allow users="*"/>
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    		<pages enableViewStateMac="true"/>
    		<httpRuntime enableVersionHeader="false"/>
	</system.web>
	<Navigation>
		<General>
			<add key="OutlineControls" value="false"/>
		</General>
		<FolderMap>
			<add key="/" value="/"/>
			<add key="/imports" value="/imports"/>
			<add key="/chemicals" value="/chemicals"/>
			<add key="/siteflow" value="/siteflow"/>
			<add key="/corporate" value="/corporate"/>
		</FolderMap>
	</Navigation>
	<!-- *** Products & Services area start *** -->
	<services>
		<!-- Specify The class,assembly that contains the service calls. This class must implement interface IProductsAndServicesService -->
		<!-- Example: key="ProductServicesService" value="XOM.Services.Services.ProductsAndServicesService, XOM.Services" -->
		<add key="ProductServicesService" value="XOM.Services.Services.ProductsAndServicesService, XOM.Services"/>
		<add key="QuizService" value="XOM.Services.Services.QuizzesService,XOM.Services"/>
	</services>
	<keyword_search>
		<!-- Add #KEYWORDS_VALUE# as a token in the part of the query where the keywords should go. Remember to replace special characters with their escape values
		<add key="searchQuery" value="http://192.168.130.96/saquery.xml?col=prodsvcs&amp;qt=#KEYWORDS_VALUE#&amp;nh=1000"/>-->
		<!-- keywordSeparator is the character(s) that needs to be added in between keywords when the keyword search contains more than one keyword 
		<add key="keywordSeparator" value="+"/>-->
		<!-- XPATH query to retrieve all the links for the results 
		<add key="xpathQuery" value="//result//@href"/>-->
		<!-- GSA Search -->
		<add key="searchQuery" value="http://hoesch81.xom.net/search?q=#KEYWORDS_VALUE#&amp;site=prodsvcs&amp;output=xml_no_dtd&amp;client=default_frontend&amp;filter=0"/>
		<add key="keywordSeparator" value="+"/>
		<add key="xpathQuery" value="//U/text()"/>
	</keyword_search>
	<quizzes>
		<add key="questionAnsweredLocation" value="~/Includes/Quizzes/QuestionAnsweredControl.ascx"/>
	</quizzes>
	<database>
		<add key="CS_Prods_Servs" value="F:\csm\cs_corporate_prod.xml"/>
		<!--<add key="CS_Prods_Servs_KeyName" value="CS_Prods_Servs_WIP"/>-->
		<add key="CS_Prods_Servs_KeyName" value="CS_Prods_Servs"/>
	</database>
	<WebServices>
		<add key="AuthenticationEnabled" value="False"/>
		<add key="Products_Services" value="http://localhost/Products_Services_WebServices/Products_Services.asmx"/>
	</WebServices>
	<!-- *** Products & Services area end*** -->
	<appSettings>
		<!-- ============== Start Mobil IND language selector ==========-->
		<add key="MILanguageCookieName" value="MISelectedLanguage"/>
		<add key="MISitesConfigurationFile" value="~/IND/MIsites.xml"/>			
		<!-- ============== End Mobil IND language selector ============-->
		<add key="lcwuser" value="LCWUSER"/>
		<add key="lcwcsfile" value="F:\csm\cs_LCW.xml"/>
		<add key="esmptuser" value="eSMTP"/>
		<add key="smptcsfile" value="F:\csm\cs_eSMTP.xml"/>
		<add key="routingemailaddress" value="somnath.koyalkar@exxonmobil.com"/>
		<add key="fromEmail" value="dinesh.abichandani@exxonmobil.com"/>
		<add key="toEmail" value="dinesh.abichandani@exxonmobil.com"/>
		<add key="countrycodeXml" value="/Imports/Contact_Us/Translations/"/>
		<add key="InterfaceXml" value="/Imports/Contact_Us/Translations/"/>
		<add key="RedirectPath" value="http://www.exxonmobil.com/Global-All/Legal/TC_"/>
		<!-- *** Products & Services area start *** -->
		<!-- Email Service Configuration -->
		<add key="MailKeyName" value="eSMTP"/>
		<add key="SaveEmails" value="SAVEONLY"/>
<!--INC000001445911 JZ 3-6-13 <add key="csmFileName" value="F:\\csm\\cs_CORPORATE_PROD.xml"/>  -->
		<add key="csmFileName" value="F:\\csm\\cs_eSMTP.xml"/>
		<!-- Path setting to translations file-->
		<add key="translationsPath" value="/Imports/Services/EmailForm/Translations/"/>
		<!-- *** Products & Services area end *** -->
		<!-- Start Google Search -->
		<add key="strxmlPath" value="http://hoesch81.xom.net/search"/>
		<add key="strxslPath" value="/Search/Stylesheets/SearchResults.xsl"/>
		<add key="strxomxslPath" value="/Search/Stylesheets/XOMSearchResults.xsl"/>
		<add key="strAdvxslPath" value="/Search/Stylesheets/AdvSearchResults.xsl"/>
		<add key="strxomAdvxslPath" value="/Search/Stylesheets/XOMAdvSearchResults.xsl"/>
		<add key="strxExpertAdvxslPath" value="/Search/Stylesheets/AdvSearchResults_ExpertUser.xsl"/>
		<add key="user" value="expert"/>
		<add key="xomxsltdecider" value="navigation"/>
		<add key="defaultCSS" value="mobil"/>
		<add key="querySize" value="250"/>
		<add key="404ErrorXml" value="/Search/Stylesheets/SpecialCharError.xml"/>
		<!-- End Google Search -->
		<!-- Start - PVL Contact Us -->
		<add key="TestMode" value="false"/>
		<!-- throw alerts at msg points in javascript true/false -->
		<add key="DeployEnv" value="PROD"/>
		<add key="DBKey" value="SiteCoreUSER"/>
		<add key="csmFilePath" value="f:\\csm\\cs_SiteCore.xml"/>
		<add key="regionKey" value="false"/>
    		<add key="contentPath" value=""/>
		<!-- End - PVL Contact Us -->
		<!-- Start setting for Contactus Form for mobil1 Russia -->
		<add key="emailSubject" value="Retail Locator Request"/>
		<add key="emailReceiver" value="locator@khws.co.uk"/>
		<add key="emailCC" value="locator@impacto.ru"/>
		<!-- Stop setting for Contactus Form for mobil1 Russia -->   
		<!-- CT: For SitecoreRedirects.dll - start-->
		<add key="FileTypes"  value="aspx,html,pdf"/>
		<add key="StaticFileTypes"  value="pdf,xml"/>
		<add key="SitecoreRedirectsConfigFile"  value="/sitecore-redirects-page2page-config.xml"/>
		<add key="SitecoreDomainRedirectsConfigFile"  value="/sitecore-redirects-domain-wildcard-config.xml"/>
		<add key="WIPPattern" value="prodwip."/>
		<!-- CT: For SiteCoreRedirects.dll - end -->		
	</appSettings>
	
	<!-- For SiteCoreRedirects.dll - start *********************************************************** --> 	
 	<system.webServer>
 	       <validation validateIntegratedModeConfiguration="false" />
 	</system.webServer>
   <!-- CT - Do not remove location tag, this prevents the custom module from loading in child application folders -->
	<location path="." inheritInChildApplications="false"> 
		<system.webServer>
			<modules>
				<add name="SitecoreRedirectsRoot" type="XOM.SitecoreRedirects.HttpRedirect,SitecoreRedirects"/>
				<remove name="ScriptModule" />
				<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>	        
			</modules>
		</system.webServer>
	</location>
    
<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-AspNet-Version"/>
				<remove name="X-AspNetMvc-Version"/>
				<remove name="X-Powered-By"/>
				<add name="X-Content-Type-Options" value="nosniff"/>
			</customHeaders>
		</httpProtocol>
	<!-- <rewrite>
			<outboundRules>
				<rule name="Remove Server">
					<match serverVariable="RESPONSE_SERVER" pattern=".+"/>
					<action type="Rewrite"/>
				</rule>
			</outboundRules>
		<rules>
			<rule name="MOBIL root ShortURLs" enabled="true">
				<match url=".*" />
				 <conditions>
					<add input="{shorturls:{REQUEST_URI}}" pattern="(.+)" />
				 </conditions>
				 <action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Permanent"/>
		    </rule>
			<!-- Rule applies only for URL patterns specified in conditions -->
			<!-- CT - Commented out 2016-04-21 to resolve site load slow performance issue -->
			<!--<rule name=" Rule1 Enforce Lower Case URLs" stopProcessing="false">
			    <match url="[A-Z]" ignoreCase="false" />
			    	<conditions logicalGrouping="MatchAny">
						<add input="{URL}" pattern="/ind/" />					
					</conditions>
			    <action type="Redirect" url="{ToLower:{URL}}" />
			</rule>-->
			
			<rule name="Redirect all www.mobilsuper.us/reviews" patternSyntax="Wildcard" stopProcessing="false">
				<match url="*"/>
				<conditions>
					<add input="{HTTP_HOST}" pattern="mobilsuper.us/reviews" />						
				</conditions>
				<action type="Redirect" url="https://mobiloil.com/en/motor-oils/mobil-super/mobil-super" redirectType="Permanent" />
			</rule>
			
			
			<rule name="Redirect all www.mobil.us/* to mobiloil.com/*" patternSyntax="Wildcard" stopProcessing="false">
				<match url="*"/>
				<conditions>
					<add input="{HTTP_HOST}" pattern="www.mobil.us" />						
				</conditions>
				<action type="Redirect" url="http://www.mobiloil.com/{R:0}" redirectType="Permanent" />
			</rule>
		    <rule name="Redirect all mobil.us/* to mobiloil.com/*" patternSyntax="Wildcard" stopProcessing="false">
				<match url="*"/>
				<conditions>
					<add input="{HTTP_HOST}" pattern="mobil.us" />						
				</conditions>
				<action type="Redirect" url="http://www.mobiloil.com/{R:0}" redirectType="Permanent" />
			</rule>
			<rule name="Redirect all www.mobil.com.ru/* to https://mobiloil.com.ru/*" patternSyntax="Wildcard" stopProcessing="false">
				<match url="*"/>
				<conditions>
					<add input="{HTTP_HOST}" pattern="www.mobil.com.ru" />						
				</conditions>
				<action type="Redirect" url="https://mobiloil.com.ru/{R:0}" redirectType="Permanent" />
			</rule>
		    <rule name="Redirect all mobil.com.ru/* to https://mobiloil.com.ru/*" patternSyntax="Wildcard" stopProcessing="false">
				<match url="*"/>
				<conditions>
					<add input="{HTTP_HOST}" pattern="mobil.com.ru" />						
				</conditions>
				<action type="Redirect" url="https://mobiloil.com.ru/{R:0}" redirectType="Permanent" />
			</rule>
			<rule name="Redirect all www.mobil1racing.com/* to https://mobiloil.com/mobil1racing/*" patternSyntax="Wildcard" stopProcessing="false">
				<match url="*"/>
				<conditions>
					<add input="{HTTP_HOST}" pattern="www.mobil1racing.com" />						
				</conditions>
				<action type="Redirect" url="https://mobiloil.com/mobil1racing/{R:0}" redirectType="Permanent" />
			</rule>
		    <rule name="Redirect all mobil1racing.com/* to https://mobiloil.com/mobil1racing/*" patternSyntax="Wildcard" stopProcessing="false">
				<match url="*"/>
				<conditions>
					<add input="{HTTP_HOST}" pattern="mobil1racing.com" />						
				</conditions>
				<action type="Redirect" url="https://mobiloil.com/mobil1racing/{R:0}" redirectType="Permanent" />
			</rule>
		</rules>
		<!-- The ShortURLs have been moved to an external file, see file name below, to add/remove a redirecting, updating the file, testing in WIP and  
		if test passes promoting to Active is enough, no changes required in web.config file -->
		<rewriteMaps configSource="shorturls.config"></rewriteMaps> 
	</rewrite>-->
</system.webServer>
</configuration>