<rewriteMaps>
	<rewriteMap name="shorturls">
			<add key="/promotionscentral" value="https://promotionscentral.mobil.us/Login.aspx?ReturnUrl=%2f" />
			<add key="/rebate" value="https://mobiloil.com/en/promotion/mobil-promotions/" />
			<add key="/retailoffer" value="https://promotionscentral.mobil.us/retailoffer" />			
			<add key="/dealerpromo" value="https://promotionsmanager.mobil1.us/gm/" />
			<add key="/coupon" value="https://promotionsmanager.mobil1.us/gm/onlineform/" />
			<add key="/dealer" value="https://promotionsmanager.mobil1.us/gm/installers/" />
			<add key="/dealeroffer" value="https://mobiloil.com/en/promotion/mobil-promotions" />
			<add key="/commercialsales" value="https://apfco.net/secure/W1601/" />
			<add key="/propack" value="https://apfco.net/secure/W1601/Home/RegisterProPack" />
			<add key="/cvlinstalled" value="https://promotionscentral.mobil.us/cvl" />
			<add key="/frameme" value="https://apfco.net/secure/P3729W/" />			
			<add key="/reviews" value="https://mobiloil.com/en/motor-oils/mobil-super/mobil-super" />
			<add key="/communitynews" value="http://corporate.exxonmobil.com.au/en-au/community/local-outreach/mobil-community-news" />
			<add key="/guarantee" value="https://mobiloil.com/en/article/warranties/limited-warranty" />
			<add key="/NBAAllStar2018sweeps" value="https://mobiloil.com/NBAAllStar2018sweeps" />
	</rewriteMap>
</rewriteMaps>