<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
        </system.web>
	 <system.webServer>
	 	 <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/Benelux-Dutch-LCW/custom404page.aspx" responseMode="ExecuteURL" />
        </httpErrors>
       <!-- <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1" enabled="true" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        <add input="{HTTP_HOST}" pattern="^prodwip\.mobil\.com$" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^prodstg\.mobil\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://lubes.mobil.com/benelux-dutch-lcw/{ToLower:{R:1}}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>-->-->
    </system.webServer>
    
    
</configuration>
