
.aggregatedDistributorPushpin .distributorPushpin{
    background: url("../images/poi_xom.png") repeat scroll 0 0 transparent;

}

.distributorPushpin {
    cursor:hand;
}

.aggregatedDistributorLabel {
	position: absolute; 
	text-align: center; 
	width: 100%; 
	font: bold 10pt Arial,Helvetica,Sans-Serif; 
	color: rgb(255, 255, 255); 
	left: 0px; top: 5px;
}

.result_rollover_wrapper{
    background-repeat:no-repeat;
    position:relative;
    width:279px;
}
.result_rollover_opening{
    background-color:Transparent;
    height:34px;
    position:absolute;
    width:18px;
    z-index:100;
    left:0px;
    top:75px;
}
.result_rollover{
    background-color:#fff;
    border:solid 1px #dedede;
    padding:1px;
    margin-left:17px;
    width:260px;
}
.result_rollover .tabs{
}
.result_rollover .tabs li{
    float:left;
    background-color: #4F6A90;
    color:#fff;
    font-weight:bold;
    display:block;
    height:25px;
    line-height:25px;
    text-align:center;
    /*text-transform:uppercase;*/
    width:260px;    
}
.result_rollover .tabs li a{
    background-color:#7DB1E5;
    color:#fff;
    font-weight:bold;
    display:block;
    height:25px;
    line-height:25px;
    text-align:center;
    /*text-transform:uppercase;*/
    width:260px;
}
.result_rollover .tabs li a.current{
    background-color:#005598;
}
.result_rollover .panes{
    clear:both;
    width:160px;
}
.location_pane{
    padding:15px 20px 10px 20px;
    width:220px;
}
.location_pane .header{
    margin-bottom:.5em;
}
.location_pane h4{
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
}
.location_pane span.distance{
    color:#999;
    font-style:italic;
}
.location_pane .address{
    /*text-transform:uppercase;*/
    margin-bottom:.75em;
}
.location_pane .directions_form{
    border-top:solid 1px #dedede;
    padding-top:.75em;
}
.location_pane label{
    display:block;
    margin-bottom:.25em;
}
.location_pane input.txt{
    border:1px solid #ccc;
    height:13px;
    font-size:11px;
    line-height:14px;
    margin-top:1px;
    padding:4px 6px 3px 6px;
    vertical-align:middle;
    width:160px;
}
.location_pane .linkbutton{
    float:right;
}
.hours_pane{
    padding:15px 20px 15px 20px;
    width:220px;
}
.hours_pane h4{
    font-weight:bold;
    margin-bottom:.75em;
}
.hours_pane .hours{
    margin-bottom:.75em;
}
.hours_pane .hours li span.hourspan{
    color:#999;
}
.hours_pane .products{
    border-top:solid 1px #dedede;
    padding-top:.75em;
}
.products ul{
    margin-bottom:1em;
    height:40px;
}
.products ul li{
    background:transparent url(../images/global/bullet/copy.gif) no-repeat 0 5px;
    float:left;
    margin-bottom:.25em;
    padding-left:8px;
    width:100px;
}

.online_dealers h2{
    clear:both;
    color:#333;
    font-size:11px;
    font-weight:bold;
}
.logo_set{
    clear:both;
}
/* hacky code. supports vertical centering of logo images in all browsers. */
.logo_wrapper{
    display:table;
    float:left;
    height: 140px;
    #position:relative;
    overflow:hidden;
    width:300px;
}
.logo_wrapper .logo{
    #position:absolute;
    #top:50%;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:300px;
}
.logo img{
    #position:relative;
    #top:-50%;
}

.closePushpin img
{
	cursor:pointer;
}

.closePushpin
{
	display: inline;
    position: absolute;
    right: 5px;
    top: 5px;
}

.websitePopupLink
{
	text-decoration:none;
}

.lobImage
{
	margin-right:7px;
}