	#msa-container
{
	font-size:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-family:sans-serif
}
	#msa-container article,#msa-container aside,#msa-container details,#msa-container figcaption,#msa-container figure,#msa-container footer,#msa-container header,#msa-container hgroup,#msa-container main,#msa-container nav,#msa-container section,#msa-container summary
{
	display:block
}
	#msa-container audio,#msa-container canvas,#msa-container video
{
	display:inline-block;
	*display:inline;
	*zoom:1
}
	#msa-container audio:not([controls])
{
	display:none;
	height:0
}
	#msa-container [hidden]
{
	display:none
}
	#msa-container button,#msa-container input,#msa-container select,#msa-container textarea
{
	font-family:sans-serif
}
	#msa-container a:focus
{
	outline:thin dotted
}
	#msa-container a:active,#msa-container a:hover
{
	outline:0
}
	#msa-container h1
{
	font-size:2em;
	margin:0.67em 0
}
	#msa-container h2
{
	font-size:1.5em;
	margin:0.83em 0
}
	#msa-container h3
{
	font-size:1.17em;
	margin:1em 0
}
	#msa-container h4
{
	font-size:1em;
	margin:1.33em 0
}
	#msa-container h5
{
	font-size:0.83em;
	margin:1.67em 0
}
	#msa-container h6
{
	font-size:0.67em;
	margin:2.33em 0
}
	#msa-container abbr[title]
{
	border-bottom:1px dotted
}
	#msa-container b,#msa-container strong
{
	font-weight:bold
}
	#msa-container blockquote
{
	margin:1em 40px
}
	#msa-container dfn
{
	font-style:italic
}
	#msa-container hr
{
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}
	#msa-container mark
{
	background:#ff0;
	color:#000
}
	#msa-container p,#msa-container pre
{
	margin:1em 0
}
	#msa-container code,#msa-container kbd,#msa-container pre,#msa-container samp
{
	font-family:monospace, serif;
	_font-family:'courier new', monospace;
	font-size:1em
}
	#msa-container pre
{
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word
}
	#msa-container q
{
	quotes:none
}
	#msa-container q:before,#msa-container q:after
{
	content:'';
	content:none
}
	#msa-container small
{
	font-size:80%
}
	#msa-container sub,#msa-container sup
{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
	#msa-container sup
{
	top:-0.5em
}
	#msa-container sub
{
	bottom:-0.25em
}
	#msa-container dl,#msa-container menu,#msa-container ol,#msa-container ul
{
	margin:1em 0
}
	#msa-container dd
{
	margin:0 0 0 40px
}
	#msa-container menu,#msa-container ol,#msa-container ul
{
	padding:0 0 0 40px
}
	#msa-container nav ul,#msa-container nav ol
{
	list-style:none;
	list-style-image:none
}
	#msa-container img
{
	border:0;
	-ms-interpolation-mode:bicubic
}
	#msa-container svg:not(:root)
{
	overflow:hidden
}
	#msa-container figure
{
	margin:0
}
	#msa-container form
{
	margin:0
}
	#msa-container fieldset
{
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em
}
	#msa-container legend
{
	border:0;
	padding:0;
	white-space:normal;
	*margin-left:-7px
}
	#msa-container button,#msa-container input,#msa-container select,#msa-container textarea
{
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle
}
	#msa-container button,#msa-container input
{
	line-height:normal
}
	#msa-container button,#msa-container select
{
	text-transform:none
}
	#msa-container button,#msa-container input[type="button"],#msa-container input[type="reset"],#msa-container input[type="submit"]
{
	-webkit-appearance:button;
	cursor:pointer;
	*overflow:visible
}
	#msa-container button[disabled],#msa-container html input[disabled]
{
	cursor:default
}
	#msa-container input[type="checkbox"],#msa-container input[type="radio"]
{
	box-sizing:border-box;
	padding:0;
	*height:13px;
	*width:13px
}
	#msa-container input[type="search"]
{
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
	#msa-container input[type="search"]::-webkit-search-cancel-button,#msa-container input[type="search"]::-webkit-search-decoration
{
	-webkit-appearance:none
}
	#msa-container button::-moz-focus-inner,#msa-container input::-moz-focus-inner
{
	border:0;
	padding:0
}
	#msa-container textarea
{
	overflow:auto;
	vertical-align:top
}
	#msa-container table
{
	border-collapse:collapse;
	border-spacing:0
}
	#msa-container button,#msa-container input,#msa-container select,#msa-container textarea
{
	color:#222
}
	#msa-container ::-moz-selection
{
	background:#b3d4fc;
	text-shadow:none
}
	#msa-container ::selection
{
	background:#b3d4fc;
	text-shadow:none
}
	#msa-container hr
{
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0
}
	#msa-container audio,#msa-container canvas,#msa-container img,#msa-container video
{
	vertical-align:middle
}
	#msa-container fieldset
{
	border:0;
	margin:0;
	padding:0
}
	#msa-container textarea
{
	resize:vertical
}
	#msa-container .ir
{
	background-color:transparent;
	border:0;
	overflow:hidden;
	*text-indent:-9999px
}
	#msa-container .ir:before
{
	content:"";
	display:block;
	width:0;
	height:150%
}
	#msa-container .hidden
{
	display:none !important;
	visibility:hidden
}
	#msa-container .visuallyhidden
{
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px
}
	#msa-container .visuallyhidden.focusable:active,#msa-container .visuallyhidden.focusable:focus
{
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto
}
	#msa-container .invisible
{
	visibility:hidden
}
	#msa-container .clearfix:before,#msa-container .clearfix:after
{
	content:" ";
	display:table
}
	#msa-container .clearfix:after
{
	clear:both
}
	#msa-container .clearfix
{
	*zoom:1
}
	#msa-container
{
	font-size:16px;
	line-height:1.4;
	position:absolute;
	text-align:left;
	top:0;
	right:0;
	bottom:0;
	left:0
}
	#msa-container p,#msa-container td,#msa-container li
{
	font-size:1em;
	line-height:1.4
}
	#msa-container p
{
	padding:0
}
	#msa-container h1,#msa-container h2,#msa-container h3,#msa-container h4,#msa-container h5,#msa-container h6
{
	padding:0
}
	#msa-container a,#msa-container a:link
{
	text-decoration:underline
}
	#msa-container .leaflet-bar a,#msa-container .leaflet-bar a:link,#msa-container a.leaflet-popup-close-button,#msa-container a:link.leaflet-popup-close-button
{
	text-decoration:none
}
	#msa-container .leaflet-bar
{
	border/*\**/:1px solid #cccccc \9
}
	#msa-container .leaflet-control-zoom-out
{
	border-bottom/*\**/:none\9
}
	#msa-container .printOnly
{
	display:none
}
	@media print
{
	#msa-container .printOnly
{
	display:inline
}

}
	#msa-container *
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
	#msa-container a.msa-button,#msa-container a.msa-button:visited,#msa-container button,#msa-container input[type="submit"]
{
	background:#d8d8d8;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #d8d8d8));
	background-image:-webkit-linear-gradient(top, #fefefe 0%, #d8d8d8 100%);
	background-image:-moz-linear-gradient(top, #fefefe 0%, #d8d8d8 100%);
	background-image:-o-linear-gradient(top, #fefefe 0%, #d8d8d8 100%);
	background-image:linear-gradient(top, #fefefe 0%,#d8d8d8 100%);
	background-image:linear-gradient(to bottom, #fefefe 0%,#d8d8d8 100%);
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFD8D8D8');
	border:1px solid #969696;
	border:1px solid rgba(0,0,0,0.2);
	border-bottom-color:rgba(0,0,0,0.6);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 2px rgba(0,0,0,0.2);
	box-shadow:0 0 2px rgba(0,0,0,0.2);
	color:#444;
	cursor:pointer;
	display:inline-block;
	font-size:1em;
	margin:1px 0;
	line-height:1;
	padding:0.6em 0.75em;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 1px rgba(255,255,255,0.75);
	vertical-align:middle
}
	#msa-container a.msa-button:hover,#msa-container a.msa-button:focus,#msa-container a.msa-button:active,#msa-container a.msa-button:visited:hover,#msa-container a.msa-button:visited:focus,#msa-container a.msa-button:visited:active,#msa-container button:hover,#msa-container button:focus,#msa-container button:active,#msa-container input[type="submit"]:hover,#msa-container input[type="submit"]:focus,#msa-container input[type="submit"]:active
{
	background:#eee
}
	#msa-container a.msa-button::-moz-focus-inner,#msa-container a.msa-button:visited::-moz-focus-inner,#msa-container button::-moz-focus-inner,#msa-container input[type="submit"]::-moz-focus-inner
{
	border:0;
	padding:0
}
	#msa-container a.msa-button.msa-loud,#msa-container a.msa-button:visited.msa-loud,#msa-container button.msa-loud,#msa-container input[type="submit"].msa-loud
{
	background:#305698;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d7ac7), color-stop(100%, #305698));
	background-image:-webkit-linear-gradient(top, #4d7ac7 0%, #305698 100%);
	background-image:-moz-linear-gradient(top, #4d7ac7 0%, #305698 100%);
	background-image:-o-linear-gradient(top, #4d7ac7 0%, #305698 100%);
	background-image:linear-gradient(top, #4d7ac7 0%,#305698 100%);
	background-image:linear-gradient(to bottom, #4d7ac7 0%,#305698 100%);
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4D7AC7', endColorstr='#FF305698');
	border-color:#3661ab;
	border-bottom-color:rgba(0,0,0,0.6);
	color:#fefefe;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25)
}
	#msa-container a.msa-button.msa-loud:hover,#msa-container a.msa-button.msa-loud:focus,#msa-container a.msa-button.msa-loud:active,#msa-container a.msa-button:visited.msa-loud:hover,#msa-container a.msa-button:visited.msa-loud:focus,#msa-container a.msa-button:visited.msa-loud:active,#msa-container button.msa-loud:hover,#msa-container button.msa-loud:focus,#msa-container button.msa-loud:active,#msa-container input[type="submit"].msa-loud:hover,#msa-container input[type="submit"].msa-loud:focus,#msa-container input[type="submit"].msa-loud:active
{
	background:#305698
}
	#msa-container.msa-desktop
{
	background:#fff;
	overflow:hidden
}
	#msa-container.msa-desktop ::-webkit-scrollbar
{
	background-color:#eee;
	width:10px;
	height:10px
}
	#msa-container.msa-desktop ::-webkit-scrollbar-thumb
{
	background:#c2c2c2;
	border-radius:6px;
	width:8px;
	min-height:40px;
	border:2px solid #eee
}
	#msa-container.msa-desktop .msa-viewer-container
{
	position:relative;
	height:550px
}
	#msa-container.msa-desktop.msa-fullscreen .msa-viewer-container
{
	position:absolute;
	height:auto;
	top:3em;
	right:0;
	bottom:0;
	left:0
}
	#msa-container.msa-desktop .msa-titlebar h1
{
	font-size:1.5em;
	float:left;
	margin:0
}
	#msa-container.msa-desktop .msa-titlebar button
{
	float:right;
	font-size:0.8em;
	margin-left:0.5em
}
	#msa-container.msa-desktop.msa-fullscreen .msa-titlebar
{
	height:48px;
	line-height:48px;
	padding:0 0.5em
}
	#msa-container.msa-desktop.msa-fullscreen .msa-titlebar h1
{
	line-height:48px
}
	#msa-container.msa-desktop.msa-fullscreen .msa-titlebar button
{
	position:relative;
	top:0.666em
}
	#msa-container.msa-desktop #msa-viewer
{
	background-color:#fff;
	border:1px solid #dedede;
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	top:0;
	z-index:100
}
	#msa-container.msa-desktop .leaflet-popup .leaflet-popup-tip
{
	background-color:#4d7ac7;
	position:relative;
	top:-1px
}
	#msa-container.msa-desktop .leaflet-popup .leaflet-popup-close-button
{
	color:#fff
}
	#msa-container.msa-desktop .leaflet-popup-content-wrapper
{
	background-color:#4d7ac7;
	color:#fff;
	width:250px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px
}
	#msa-container.msa-desktop .leaflet-popup-content-wrapper ul
{
	background-color:#fff;
	list-style:none;
	margin:0;
	max-height:80px;
	overflow-y:auto;
	padding:0 0.5em
}
	#msa-container.msa-desktop .leaflet-popup-content-wrapper li
{
	color:#555;
	margin:0.333em 0
}
	#msa-container.msa-desktop .leaflet-popup-content-wrapper h2,#msa-container.msa-desktop .leaflet-popup-content-wrapper h3
{
	margin:0.25em 0
}
	#msa-container.msa-desktop .leaflet-popup-content-wrapper h3
{
	background:#ccc;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-ms-border-radius:4px 4px 0 0;
	-o-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	color:#666;
	margin-bottom:0;
	padding:0.25em 0.4em
}
	#msa-container.msa-desktop .leaflet-popup-content-wrapper p
{
	margin:0.333em 0
}
	#msa-container.msa-desktop .leaflet-popup-content-wrapper a.msa-button,#msa-container.msa-desktop .leaflet-popup-content-wrapper button
{
	width:100%
}
	#msa-container.msa-desktop .msa-component-menu
{
	background-color:#4d7ac7;
	border-left:1px solid #fff;
	bottom:0;
	color:#fff;
	font-size:0.85em;
	opacity:0.9;
	position:absolute;
	right:0;
	top:0;
	width:160px;
	z-index:200;
	-webkit-transition:opacity 0.25s ease;
	-moz-transition:opacity 0.25s ease;
	-o-transition:opacity 0.25s ease;
	transition:opacity 0.25s ease
}
	#msa-container.msa-desktop .msa-component-menu:hover
{
	opacity:1
}
	#msa-container.msa-desktop .msa-component-menu .msa-menu-title
{
	background-color:#3661ab;
	border-bottom:1px solid #6088cd;
	border-left:1px solid #6088cd;
	font-weight:bold;
	height:30px;
	left:0;
	line-height:30px;
	padding:0 0.666em;
	position:absolute;
	top:0;
	width:100%
}
	#msa-container.msa-desktop .msa-component-menu .msa-handle
{
	background-color:#3661ab;
	border:1px solid #fff;
	border-right:none;
	border-top:none;
	border-radius:0 0 0 4px;
	cursor:pointer;
	position:absolute;
	height:30px;
	margin-left:-31px;
	line-height:30px;
	text-align:center;
	top:0px;
	width:30px;
	z-index:300
}
	#msa-container.msa-desktop .msa-component-menu ul
{
	bottom:0;
	list-style:none;
	left:0;
	margin:0;
	overflow:auto;
	padding-left:0;
	position:absolute;
	right:0;
	top:30px
}
	#msa-container.msa-desktop .msa-component-menu li
{
	border-bottom:1px solid #6088cd
}
	#msa-container.msa-desktop .msa-component-menu a
{
	color:#fff;
	text-decoration:none;
	display:block;
	padding:0.33333em 0.66666em
}
	#msa-container.msa-desktop .msa-component-menu a:hover,#msa-container.msa-desktop .msa-component-menu a:focus,#msa-container.msa-desktop .msa-component-menu a:active,#msa-container.msa-desktop .msa-component-menu a.inspected
{
	background-color:#3661ab
}
	#msa-container.msa-desktop .msa-details-layover
{
	background:#ddd;
	border:1px solid #aaa;
	height:100%;
	padding:1.75em;
	position:absolute;
	top:0em;
	right:0em;
	bottom:0em;
	left:0em;
	z-index:400
}
	#msa-container.msa-desktop.msa-fullscreen .msa-details-layover
{
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.4);
	box-shadow:0 0 20px rgba(0,0,0,0.4);
	width:700px;
	height:550px;
	margin:auto
}
	#msa-container.msa-desktop .msa-layover-inner
{
	display:table;
	height:100%;
	position:relative;
	width:100%
}
	#msa-container.msa-desktop .msa-layover-top
{
	display:table-row;
	height:1px
}
	#msa-container.msa-desktop .msa-top-inner
{
	display:table-cell;
	padding-right:206px
}
	#msa-container.msa-desktop .msa-top-inner h2
{
	margin:0
}
	#msa-container.msa-desktop .msa-top-inner img
{
	width:100%;
	max-width:100%
}
	#msa-container.msa-desktop .msa-layover-bottom
{
	display:table-row;
	height:auto;
	overflow:hidden
}
	#msa-container.msa-desktop .msa-product-links
{
	left:0;
	position:absolute;
	width:100px
}
	#msa-container.msa-desktop .msa-product-links ul
{
	list-style:none;
	margin-top:0;
	padding:0
}
	#msa-container.msa-desktop .msa-product-links a
{
	color:#000;
	font-size:0.9em
}
	#msa-container.msa-desktop .msa-product-links a:hover,#msa-container.msa-desktop .msa-product-links a:focus,#msa-container.msa-desktop .msa-product-links a:active
{
	color:#4d7ac7
}
	#msa-container.msa-desktop .msa-bottom-inner
{
	display:table-cell;
	overflow:hidden;
	border-top:16px solid transparent
}
	#msa-container.msa-desktop .msa-bottom-relative
{
	position:relative;
	height:100%
}
	#msa-container.msa-desktop .msa-scroll-box
{
	overflow:auto;
	position:absolute;
	top:0;
	right:206px;
	bottom:0;
	left:0
}
	#msa-container.msa-desktop .msa-scroll-box h3
{
	margin:0 0 0.25em
}
	#msa-container.msa-desktop .msa-product-info
{
	margin-left:116px;
	padding-right:16px
}
	#msa-container.msa-desktop .msa-product-info p:first-child
{
	margin-top:0
}
	#msa-container.msa-desktop .msa-close-button
{
	background-color:#4d7ac7;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	font-family:Courier, monospace;
	font-size:1.5em;
	font-weight:bold;
	line-height:1;
	padding:0.1em 0.333em;
	position:absolute;
	right:3px;
	top:3px
}
	#msa-container.msa-desktop .msa-close-button:hover,#msa-container.msa-desktop .msa-close-button:focus,#msa-container.msa-desktop .msa-close-button:active
{
	background:#3661ab
}
	#msa-container.msa-desktop .msa-subcomponent-menu
{
	background:#d5d5d5;
	bottom:1.75em;
	overflow:auto;
	position:absolute;
	right:1.75em;
	top:2.4em;
	width:190px;
	z-index:999
}
	#msa-container.msa-desktop .msa-subcomponent-menu ul
{
	padding-left:0;
	list-style:none;
	margin:0
}
	#msa-container.msa-desktop .msa-subcomponent-menu span
{
	background-color:#4d7ac7;
	color:#fff;
	cursor:pointer;
	display:block;
	padding:0.25em 0.5em
}
	#msa-container.msa-desktop .msa-subcomponent-menu ul>li
{
	border-bottom:1px solid #6088cd
}
	#msa-container.msa-desktop .msa-subcomponent-menu ul ul
{
	display:none
}
	#msa-container.msa-desktop .msa-subcomponent-menu ul ul li
{
	border-bottom:1px solid #dbdbdb
}
	#msa-container.msa-desktop .msa-subcomponent-menu .selected ul
{
	display:block
}
	#msa-container.msa-desktop .msa-subcomponent-menu a
{
	background:#ebebeb;
	color:#555;
	text-decoration:none;
	display:block;
	padding:0.25em 0.5em 0.25em 1em
}
	#msa-container.msa-desktop .msa-subcomponent-menu a:hover,#msa-container.msa-desktop .msa-subcomponent-menu a:focus,#msa-container.msa-desktop .msa-subcomponent-menu a:active,#msa-container.msa-desktop .msa-subcomponent-menu a.selected
{
	background:#fff;
	color:#4982c1
}
	#msa-container.msa-desktop .msa-conventional:before,#msa-container.msa-desktop .msa-synthetic:before
{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	color:#fff;
	display:inline-block;
	font-size:0.666em;
	line-height:1;
	margin-right:0.333em;
	padding:0.333em;
	position:relative;
	top:-2px;
	text-align:center;
	width:11px
}
	#msa-container.msa-desktop .msa-conventional:before
{
	content:"M";
	background-color:#d58511
}
	#msa-container.msa-desktop .msa-synthetic:before
{
	content:"S";
	background-color:#297eb8
}
	#msa-container.msa-desktop .msa-dialog
{
	background:#fff;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.4);
	box-shadow:0 0 5px rgba(0,0,0,0.4);
	border:1px solid #999;
	font-size:0.9em;
	padding:0 1em;
	position:absolute;
	width:55%;
	max-width:425px;
	z-index:300
}
	#msa-container.msa-desktop .msa-dialog label
{
	position:relative;
	top:0.555555em
}
	#msa-container.msa-desktop .msa-dialog button
{
	float:right;
	margin-left:0.3333em
}
	#msa-container.msa-desktop .msa-dialog.msa-directions
{
	bottom:1em;
	left:1em
}
	#msa-container.msa-desktop .msa-dialog.msa-mode
{
	width:50%;
	height:140px;
	overflow:auto;
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0
}
	#msa-container.msa-desktop .msa-dialog.msa-mode p.clearfix
{
	bottom:0;
	position:absolute;
	left:1em;
	right:1em
}
	#msa-container.msa-touch .msa-button-grid
{
	clear:left
}
	@media only screen and (min-width: 25em)
{
	#msa-container.msa-touch .msa-button-grid
{
	font-size:0.1px;
	text-align:justify
}
	#msa-container.msa-touch .msa-button-grid:after
{
	content:'';
	display:inline-block;
	width:100%
}

}
	html.lt-ie9 #msa-container.msa-touch .msa-button-grid
{
	font-size:0.1px;
	text-align:justify
}
	html.lt-ie9 #msa-container.msa-touch .msa-button-grid:after
{
	content:'';
	display:inline-block;
	width:100%
}
	#msa-container.msa-touch .msa-button-grid .msa-button
{
	margin-bottom:0.5em;
	width:100%
}
	@media only screen and (min-width: 25em)
{
	#msa-container.msa-touch .msa-button-grid .msa-button
{
	font-size:16px;
	margin-bottom:2%;
	width:49%
}

}
	html.lt-ie9 #msa-container.msa-touch .msa-button-grid .msa-button
{
	font-size:16px;
	margin-bottom:2%;
	width:49%
}
	#msa-container.msa-touch .msa-header
{
	background-color:#fff;
	height:25px;
	padding:4px 0;
	position:fixed;
	top:0;
	width:100%;
	z-index:799
}
	#msa-container.msa-touch .msa-header h1
{
	background:url('image/download.svg') no-repeat 50% 50%;
	text-align:center;
	font-size:1em;
	height:100%%;
	margin:0;
	line-height:1
}
	#msa-container.msa-touch .msa-body-container
{
	background:#cecece;
	bottom:0;
	display:table;
	height:100%;
	left:0;
	padding-top:25px;
	position:absolute;
	top:0;
	right:0;
	width:100%
}
	#msa-container.msa-touch .msa-row
{
	display:table-row;
	height:1px
}
	#msa-container.msa-touch .msa-row.msa-fill
{
	height:auto;
	overflow:hidden
}
	#msa-container.msa-touch .msa-location-bar
{
	background-color:#4d7ac7;
	color:#fff;
	padding:0.4444em 0
}
	#msa-container.msa-touch .msa-location-bar a
{
	border-radius:4px;
	color:#fff;
	text-decoration:none;
	padding:0.25em 0.5em;
	position:absolute;
	top:28px;
	background:#3661ab
}
	#msa-container.msa-touch .msa-location-bar a.msa-right-button
{
	right:0.333em
}
	#msa-container.msa-touch .msa-location-bar a.msa-left-button
{
	left:0.333em
}
	#msa-container.msa-touch .msa-location-bar h2
{
	font-size:1em;
	font-weight:normal;
	margin:0 auto;
	text-align:center;
	width:65%
}
	#msa-container.msa-touch .msa-tab-nav ul
{
	list-style:none;
	margin:0.333em 0 0 0;
	padding:0
}
	#msa-container.msa-touch .msa-tab-nav li
{
	background-color:#848484;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-ms-border-radius:4px 4px 0 0;
	-o-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	color:#d1d1d1;
	cursor:pointer;
	float:right;
	padding:0.5em 0;
	text-align:center;
	width:49.5%
}
	#msa-container.msa-touch .msa-tab-nav li:first-child
{
	float:left
}
	#msa-container.msa-touch .msa-tab-nav li.msa-active
{
	background:#fff;
	color:#000
}
	#msa-container.msa-touch .msa-tab-nav-content>div
{
	display:none;
	height:100%
}
	#msa-container.msa-touch .msa-tab-nav-content>div:first-child
{
	display:block
}
	#msa-container.msa-touch .msa-item-list
{
	background-color:#fff;
	height:100%
}
	#msa-container.msa-touch .msa-item-list ul
{
	list-style:none;
	margin:0;
	padding:0
}
	#msa-container.msa-touch .msa-item-list li
{
	border-bottom:1px solid #eee
}
	#msa-container.msa-touch .msa-item-list h4
{
	clear:left;
	font-size:1em;
	margin-bottom:0
}
	#msa-container.msa-touch .msa-item-list p
{
	margin-top:0
}
	#msa-container.msa-touch .msa-product-details
{
	margin:0 0.7em 0.7em 0.7em
}
	#msa-container.msa-touch .msa-product-details h4:first-child
{
	margin-top:0
}
	#msa-container.msa-touch .msa-list-item
{
	position:relative
}
	#msa-container.msa-touch .msa-list-item.msa-component a
{
	color:#4d7ac7;
	display:block;
	padding:0.7em;
	text-decoration:none
}
	#msa-container.msa-touch .msa-list-item.msa-component a:hover,#msa-container.msa-touch .msa-list-item.msa-component a:focus,#msa-container.msa-touch .msa-list-item.msa-component a:active
{
	background-color:#f2f2f2
}
	#msa-container.msa-touch .msa-list-item.msa-product
{
	padding:0.7em
}
	#msa-container.msa-touch .msa-list-item .msa-expand-button
{
	background:#4d7ac7;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	color:#fff;
	line-height:1;
	padding:0.666em;
	position:absolute;
	right:0.666em;
	top:0.666em;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg);
	-webkit-transition:-webkit-transform 0.25s ease;
	-moz-transition:-moz-transform 0.25s ease;
	-o-transition:-o-transform 0.25s ease;
	transition:transform 0.25s ease
}
	#msa-container.msa-touch .msa-list-item .msa-expand-button.msa-open
{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg)
}
	#msa-container.msa-touch .msa-list-item h3
{
	color:#4d7ac7;
	font-size:1em;
	margin:0
}
	#msa-container.msa-touch .msa-list-item .msa-conventional,#msa-container.msa-touch .msa-list-item .msa-synthetic
{
	color:#949494
}
	#msa-container.msa-touch .msa-list-item .msa-conventional:before,#msa-container.msa-touch .msa-list-item .msa-synthetic:before
{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	color:#fff;
	display:inline-block;
	font-size:0.666em;
	margin-right:0.333em;
	padding:0.1em 0.25em;
	position:relative;
	top:-2px;
	text-align:center;
	width:11px
}
	#msa-container.msa-touch .msa-list-item .msa-conventional:before
{
	content:"M";
	background-color:#d58511
}
	#msa-container.msa-touch .msa-list-item .msa-synthetic:before
{
	content:"S";
	background-color:#297eb8
}
	#msa-container.msa-touch .msa-layover
{
	background:rgba(0,0,0,0.3);
	bottom:0;
	left:0;
	position:fixed;
	top:0;
	right:0;
	z-index:899
}
	#msa-container.msa-touch .msa-modal
{
	background:#fff;
	width:90%;
	left:5%;
	padding:2em;
	position:fixed;
	top:10%;
	z-index:999
}
	#msa-container.msa-touch .msa-modal .msa-button
{
	display:block;
	margin:0.5em 0
}

