<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
	<!-- MIL EventForm start -->
	<add key="EventFormDBKey" value="MobilIndustrial" />
	<add key="EventFormCSFile" value="f:\\csm\\cs_MobilInd_EventForm.xml" />
	<add key="EventFormEmailPattern" value="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" />
	<add key="EventFormTelephonePattern" value="^\+?(\d[\d-. ]+)?(\([\d-. ]+\))?[\d-. ]+\d$" />
	<!-- MIL EventForm end -->
	</appSettings>
    <system.webServer>
        <!-- <rewrite>
            <rules>
                <rule name="Rule1 Enforce Canonical Domain www.mobilindustrial.com" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.mobilindustrial\.com$" negate="true" />
						<add input="{HTTP_HOST}" pattern="^prodwip\.mobil\.com$" negate="true" />
						<add input="{HTTP_HOST}" pattern="^prodstg\.mobil\.com$" negate="true" />
						<add input="{HTTP_HOST}" pattern="^acptwip\.mobil\.com$" negate="true" />
						<add input="{HTTP_HOST}" pattern="^acptstg\.mobil\.com$" negate="true" />
						<add input="{HTTP_HOST}" pattern="^devwip\.mobil\.com$" negate="true" />
						<add input="{HTTP_HOST}" pattern="^devstg\.mobil\.com$" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/ind/(english|chinese)/images" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/ind/(english|chinese)/foresee" negate="true" />			
						<add input="{REQUEST_URI}" pattern="^/chinese/imports" ignoreCase="true" negate="true" />						
						<add input="{REQUEST_URI}" pattern="^/ind/chinese/imports" ignoreCase="true" negate="true" />						
                    </conditions>
                    <action type="Redirect" url="http://www.mobilindustrial.com/ind/{ToLower:{R:1}}" />
                </rule>
            </rules>
        </rewrite>-->
    </system.webServer>
</configuration>
