@charset "utf-8";
/* CSS Document */
body{text-align:center; margin:0; padding:0;}
.golable_content{width:673px; margin:0 auto;}
.golable_content .video_content{width:674px; height:276px; overflow:hidden;}
.golable_content .gotop{position:relative; padding-bottom:50px; margin-top:20px;}
.golable_content .gotop .go{position:absolute; right:0; top:0; width:78px; height:27px; cursor:pointer;}
