BODY
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px
}
TD
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px
}
HR
{
    COLOR: #CCCCCC;
    NOSHADE;
    SIZE: 1;
}
.text
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 12px
}

.black-text
{
    COLOR: #000000;
    FONT-SIZE: 10px
}

.black-text11
{
    COLOR: #000000;
    FONT-SIZE: 11px
}
.black-text9
{
    COLOR: #000000;
    FONT-SIZE: 11px
}
.bold-text
{
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}
.red-text
{
    COLOR: #ff0200;
    FONT-SIZE: 11px
}
.grey-text
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.grey-text10
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}

.white-text
{
    COLOR: #ffffff;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.redLinkBold
{
    COLOR: #FB0208;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
}
.blueLink
{
    COLOR: #3366cc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: underline;
}
.blueLink10
{
    COLOR: #3366cc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: underline;
}
.blueLink9
{
    COLOR: #CCCCCC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9px;
    TEXT-DECORATION: underline;
}
.drkblueLink
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: underline;
}
.drkblueLink9
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9px;
    TEXT-DECORATION: underline;
}
.blueLinkb
{
    COLOR: #CCCCCC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: underline;
	FONT-WEIGHT: bold;
}
.blueNonLink
{
    COLOR: #3366cc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.greyLink
{
    COLOR: #aaaaaa;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.blackLink
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: underline
}
UNKNOWN
{
    COLOR: #aaaaaa;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.lnavHeader
{
    COLOR: #cc0000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.lnavItem
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.lnavItem10
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.lnavItemSelected
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.lnavItemSelected10
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.lnavsubItem
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.lnavsubItemSelected
{
    COLOR: #0066cc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.lnavsubItemSection
{
    COLOR: #999999;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.lnavBgSelected
{
    BACKGROUND-COLOR: #e2e2e2
}
.lnavBg
{
    BACKGROUND-COLOR: #ffffff
}
.tdNav
{
    BACKGROUND-COLOR: #3366CC
}
.mobiltdNav
{
    BACKGROUND-COLOR: #003399
}

.tdNavSelected
{
    BACKGROUND-COLOR: #3366CC
}
.mobiltdNavSelected
{
    BACKGROUND-COLOR: #003366
}
.navItem
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.navItem:hover
{
    COLOR: #cccccc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.navItemSelected
{
    COLOR: #CCCCCC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.navItemSelected:hover
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.homenav-s:hover
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px
}
.homenav-s
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.homeHeadline
{
    COLOR: #0266fc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.homeHeadline:hover
{
    COLOR: #0266fc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.homeHeadlineBody
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}

.homepageHeadline
{
    COLOR: #0266fc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.homepageHeadline:hover
{
    COLOR: #0266fc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.homepageHeadlineBody
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}

.homeButton
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.footerText:hover
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: underline
}
.footerText
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.countryName
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.worldwideName
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}
.worldwideText
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.hdr-text
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.hdr-small
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}
.hdr-red
{
    COLOR: #cc0000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.hdr-grey
{
    COLOR: #3366CC;
    FONT-SIZE: 22px;
    TEXT-DECORATION: none
}
.hdr-blue
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.hdr-white
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.hdr-drkblue
{
    COLOR: #000066;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 18px;
    TEXT-DECORATION: none
}
.hdr-drkblue-24
{
    COLOR: #000066;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 24px;
    TEXT-DECORATION: none
}
.hdr-blue-sub
{
    COLOR: #0066cc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}
.hdr-blue-sub12
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.cnhdr-grey14
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-white14
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-black16
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-black14
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-blue14
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-blue12
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-red14
{
    COLOR: #FB0208;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-red12
{
    COLOR: #FB0208;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.cnhdr-red12b
{
    COLOR: #FB0208;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-black11
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-blue11
{
    COLOR: #0066cc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-drkblue11
{
    COLOR: #0c1465;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-red11b
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-red11
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.cnhdr-grey12
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.cnhdr-red18
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 18px;
    TEXT-DECORATION: none
}
.cnhdr-red14a
{
    COLOR: #3366CC;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}
.tip
{
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px
}
.query
{
    BACKGROUND-COLOR: #e8f4ff
}
.date
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.score
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.size
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.url
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none
}
.label
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.search-button
{
    BACKGROUND: #ffffff;
    BORDER-BOTTOM: #666666 1px inset;
    BORDER-LEFT: #666666 1px inset;
    BORDER-RIGHT: #666666 1px inset;
    BORDER-TOP: #666666 1px inset;
    COLOR: #3366CC;
    FONT: 10px Arial, Helvetica, sans-serif
}
.tdCyanBg 
{ 
    
    COLOR: #666666; 
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-SIZE: 14px; 
    FONT-WEIGHT: bold; 
    BACKGROUND-COLOR: #CEE7FF;
} 

.tdGreyBg 
{ 
    COLOR: #ffffff; 
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-SIZE: 12px; 
    FONT-WEIGHT: bold; 
    BACKGROUND-COLOR: #cccccc 
} 

.tddkGreyBg 
{ 
    COLOR: #ffffff; 
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-SIZE: 12px; 
    FONT-WEIGHT: bold; 
    BACKGROUND-COLOR: #666666 
} 



