
/* =============================================================================================================
	[[[[[    ]]]]] 
   ============================================================================================================= */

html { /* 16 x 0.625 = 10 */ font-size: 75% }
body, p, td { font-size: 1.1em; line-height: 1.4em; }
